<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Munafasa</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/css/site/imgs/logoSmall.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
</head>
<body id="main">
    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
        toastr.success('@TempData["success"]')
        </script>

    }
    @if (TempData["error"] != null)
    {
        <script type="text/javascript">
        toastr.error('@TempData["error"]')
        </script>

    }
    @RenderBody()
</body>
</html>

