@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        <span class="font-weight-semibold">Well done!</span> @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-styled-left alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        <span class="font-weight-semibold">Oh snap!</span> @TempData["error"]
    </div>
}
