@using Munafasa.Models.ViewModels
@model ClientViewModel
@{
    var title = Model.Client?.Id == 0 ? "Create" : "Update";
    ViewData["Title"] = title + " Client";
    ViewData["PageSlug"] = "Clients";
    ViewData["Back"] = "/Admin/Client";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h4 class="card-title"> @title Client</h4>
    </div>

    <div class="card-body">
        <form asp-action="Upsert" enctype="multipart/form-data">
            <input type="hidden" asp-for="Client.Id" value="@(Model.Client?.Id)" />
            <input type="hidden" asp-for="Client.ProfileImage" />
            <input type="hidden" asp-for="Client.Lat" value="0" />
            <input type="hidden" asp-for="Client.Lng" value="0" />

            <fieldset class="mb-3">
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.UserName"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.UserName" class="form-control">
                        <span asp-validation-for="Client.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Email"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Email" class="form-control">
                        <span asp-validation-for="Client.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Phone"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Phone" class="form-control">
                        <span asp-validation-for="Client.Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Addresss"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Addresss" class="form-control">
                        <span asp-validation-for="Client.Addresss" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Building"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Building" class="form-control">
                        <span asp-validation-for="Client.Building" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Floor"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Floor" class="form-control">
                        <span asp-validation-for="Client.Floor" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Apartment"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Apartment" class="form-control">
                        <span asp-validation-for="Client.Apartment" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.ContractId"></label>
                    <div class="col-lg-10">
                        <select asp-for="Client.ContractId" asp-items="@Model.Contracts" class="form-control select select2-hidden-accessible">
                            <option disabled selected>-- Select Contract --</option>
                        </select>
                        <span asp-validation-for="Client.ContractId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="Client.Password"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="Client.Password" class="form-control">
                        <span asp-validation-for="Client.Password" class="text-danger"></span>
                    </div>
                </div>

            </fieldset>
            <span asp-validation-for="Errors" class="text-danger"></span>
            <div asp-validation-summary="All"></div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>







@section AdminScripts{  @{
        <partial name="_ValidationScriptsPartial" />
}

<script src="\js\adminJs\plugins\forms\styling\uniform.min.js"></script>
<script src="\js\adminJs\demo_pages\form_inputs.js"></script>
<script src="\js\adminJs\plugins\forms\selects\select2.min.js"></script>
<script src="\js\adminJs\demo_pages\form_select2.js"></script>

}