@using Munafasa.Models.Tables
@model Service
@{
    var title = Model?.Id == null ? "Create" : "Update";
    ViewData["Title"] = title + " Service";
    ViewData["PageSlug"] = "Service";
    ViewData["Back"] = "/Admin/Service";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h4 class="card-title"> @title Service</h4>
    </div>

    <div class="card-body">
        <form asp-action="Upsert" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" value="@(Model?.Id??0)" />
            <input type="hidden" asp-for="ImageUrl" />

            <fieldset class="mb-3">
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="NameAr"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="NameAr" class="form-control">
                        <span asp-validation-for="NameAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2" asp-for="NameEn"></label>
                    <div class="col-lg-10">
                        <input type="text" asp-for="NameEn" class="form-control">
                        <span asp-validation-for="NameEn" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2" for="image">Image</label>
                    <div class="col-lg-10">
                        <input type="file" class="form-control-uniform" name="image">
                    </div>
                </div>


                <div class="card">
                    <div class="card-header header-elements-inline">
                        <label class="card-title" asp-for="DesAr"></label>
                    </div>

                    <div class="card-body">
                        <textarea class="summernote input-block-level" asp-for="DesAr">
                          
                        </textarea>
                        <span asp-validation-for="DesAr" class="text-danger"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header header-elements-inline">
                        <label class="card-title" asp-for="DesEn"></label>
                    </div>

                    <div class="card-body">
                        <textarea class="summernote input-block-level" asp-for="DesEn">
                          
                        </textarea>
                        <span asp-validation-for="DesEn" class="text-danger"></span>
                    </div>
                </div>


            </fieldset>
            <span asp-validation-for="Errors" class="text-danger"></span>
            <div asp-validation-summary="All"></div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>







@section AdminScripts{  @{
        <partial name="_ValidationScriptsPartial" />
}

<script src="\js\adminJs\plugins\forms\styling\uniform.min.js"></script>
<script src="\js\adminJs\demo_pages\form_inputs.js"></script>
<script src="\js\adminJs\plugins\editors\summernote\summernote.min.js"></script>
<script src="\js\adminJs\demo_pages\editor_summernote.js"></script>
}